<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-watch Assignator</title>
</head>

<header>
    
    <h1>My Tech-watch Assignator</h1>
    <nav>
        <a class="btn btn-primary" href="http://localhost:8080/home" role="button">Home</a></button>
        <a class="btn btn-primary" href="http://localhost:8080/subject" role="button">Tech Watch Assignation</a></button>
        <a class="btn btn-primary" href="#" role="button">History</a></button>
    </nav>

</header>

<body>
    <h2>List of students</h2>

</body>

</html>