<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<header>
    <h1>My Tech-watch Assignator</h1>
    <nav>
        <a class="btn btn-primary" href="http://localhost:8080/home" role="button">Home</a></button>
        <a class="btn btn-primary" href="http://localhost:8080/students" role="button">Student List</a></button>
        <a class="btn btn-primary" href="http://localhost:8080/assignation" role="button">Tech-watch Assignation</a></button>
    </nav>
</header>
<body>
    
</body>

<footer>
    <%- include ('../partials/footer') %>
</footer>
</html>